
#art{
  /*display: table;*/
  border-spacing: 1px;
  background-color: black;
  width: 500px;
  margin: 0 auto;
  /*border: 5px solid back;*/
}
.row{
  display: table-row;
}
.pixel{
/*  display: table-cell;
  background-color: white;
  width: 10px;
  height: 10px;*/

  display: table-cell;
    /* background-color: #901b1b; */
    width: 10px;
    height: 10px;
    display: inline-block;
    float: left;
    border: 0.5px solid rgb(0, 0, 0);
}

.pen {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid black;
}

#title {
  background-color: green;
  margin: 0 auto;
  width: 100%;
}
h1 {
  text-align: center;
  padding: 5px;
  color: white;
}